
body {
    overflow: hidden;
}

html .sign {
    overflow: hidden;
    background: #151515;
    box-sizing: border-box;
}

.sign {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: #151515;
    padding: 24px;
    color: #FFF;
    font-size: 13px;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign_container {
    border-radius: 16px;
    border: 1px solid rgba(89, 89, 89, 0.16);
    background: #1A1A1A;
    box-shadow: 0px 4px 8px 0px rgba(20, 20, 20, 0.48);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.sign_container .nft-col-2 {
    height: calc(100vh - 48px); 
    display: flex;
    flex-basis: calc(50%);
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.sign_form {
    display: flex;
    flex-direction: column;
    width: 288px; 
}

.sign_adverse {
    border-radius: 16px;
    border: 1px solid rgba(89, 89, 89, 0.16);
    background: #151515;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign_adverse_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64%; 
}

h1.sign_adverse_title {
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif, system-ui;
    font-optical-sizing: auto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;
}


p.sign_adverse_desc {
    color: #666;
    text-align: center;
    font-family: "Inter", sans-serif, system-ui;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sign_adverse_logo {
    width: 128px;
    text-align: center;
}

label.sign_form_label {
    color: #C6C6C6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 8px; /* 66.667% */
    padding: 0px 10px 10px 0px;
}

input.sign_form_input {
    border-radius: 6px;
    background: #292929;
    color: #6A6A6A;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px; /* 61.538% */
    letter-spacing: -0.26px;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    border: none;
    height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
}

input.sign_form_input:hover::placeholder {
    transition: ease-in 186ms;
    color: #fff;
}

input.sign_form_input:focus {
    outline: none;
    color: #fff;
    border: 1px solid #ffffff2a;
}

input.sign_form_input:focus::placeholder {
    color: #fff;
    transition: ease-in 400ms;
}

input.sign_form_button {
    border-radius: 6px;
    border: 1.2px solid rgba(255, 255, 255, 0.32);
    border-left: 1.2px solid  rgb(155, 112, 255);
    background: linear-gradient(105deg, rgba(111, 51, 255, 0.86) -3.96%, rgba(90, 174, 255, 0.86) 37.1%, rgba(227, 120, 255, 0.86) 84.95%);
    background-size: 200% 200%;
    color: #FFF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.48);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 8px; /* 61.538% */
    height: 32px;
    margin: 24px 0px;
}


input.sign_form_button:hover {
    cursor: pointer;
    animation: sign_button_animate 1s ease;
    border-left: 1.2px solid rgba(255, 255, 255, 0.32);
}

@keyframes sign_button_animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h3.sign_form_title {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}

.init_version_component {
    border-radius: 12px;
    border: 0.6px solid rgba(89, 89, 89, 0.16);
    background: #1A1A1A;
    box-shadow: 0px 4px 8px 0px #141414;
    width: 340px;
    height: 48px;
    padding: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.back_button {
    color: #666666;
    transition: ease 300ms;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back_button:hover {
    color: #C6C6C6;
}

.init_version_component:hover {
    cursor: pointer;
    background: #222222;
    transition: ease-in 300ms;
}

.init_version_c_label {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
}

.init_version_c_p {
    color: #898989;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.24px;
}

.init_version_logo {
    width: 48px;
    height: 48px;
}

.init_version_component_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 8px;
}

.init_order_1 {
    order: 1;
}

.init_order_2 {
    order: 2;
}

.init_notification {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    left: 0;
    position: fixed;
    bottom: 16px;
    z-index: 10;
}

.waitlist_notification {
    border-radius: 12px;
    border: 0.6px solid rgba(89, 89, 89, 0.16);
    background: #1A1A1A;
    box-shadow: 0px 4px 8px 0px #141414;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
   
    body {
        overflow-y: scroll;
        background: #151515;
    }

    html .sign {
        
        padding: 8px;
    }
   
    .sign_container {
        flex-direction: column;
        background: none;
        border: none;
        box-shadow: none;
   }

   .sign_adverse_container {
    width: 100%;
   }

   .init_version_component {
    width: 80%;
   }

   .sign_adverse {
    background: none;
    border: none;
   }
  }